<%- contentFor('navbar') %>
    <% include('layouts/navbar') %>
        <%- contentFor('root') %>
            <!-- begin::Content -->
            <div id="add-contact" class="row">
                <!-- begin::Title -->
                <div class="row my-5">
                    <h1>
                        <%= data.title %>
                    </h1>
                </div>
                <!-- end::Title -->
                <% if (data.errors) { %>
                    <!-- begin::Error -->
                    <% data.errors.forEach(e=> { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>
                                <%= e.value %>
                            </strong>
                            <%= e.msg %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% }) %>
                            <!-- end::Error -->
                            <% } %>
                                <!-- begin::Form -->
                                <div class="row">
                                    <form method="post" action="/contact">
                                        <div class="mb-3 col-4">
                                            <label for="exampleFormControlInput1" class="form-label">Name</label>
                                            <input class="form-control form-control-sm" type="text"
                                                value="<%= data.oldName %>" placeholder="Name"
                                                aria-label=".form-control-sm example" name="name" required>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                                            <input class="form-control form-control-sm" type="email"
                                                value="<%= data.oldEmail %>" placeholder="Email"
                                                aria-label=".form-control-sm example" name="email" required>
                                        </div>
                                        <div class="mb-3 col-4">
                                            <label for="exampleFormControlInput1" class="form-label">Phone</label>
                                            <input class="form-control form-control-sm" type="number"
                                                value="<%= data.oldPhone %>" placeholder="Phone"
                                                aria-label=".form-control-sm example" name="phone" required>
                                        </div>
                                        <!-- begin::Back-Button -->
                                        <a href="/contact">
                                            <button type="button"
                                                class="btn btn-danger btn-sm col-1 mt-3">Cancel</button>
                                        </a>
                                        <!-- end::Back-Button -->
                                        <button type="submit" class="btn btn-success btn-sm col-1 mt-3 mx-3">Add
                                            Contact</button>
                                    </form>
                                </div>
                                <!-- end::Form -->
            </div>
            <!-- end::Content -->